.container {
    padding-top: 5rem;
}

#login-trigger-btn, #register-trigger-btn, #logout-btn, #user-greeting {
    display: none;
}

body {
    background: url('swbg.jpg') no-repeat fixed;
}

.vote-btn.btn-success, #pagination-page-counter {
    pointer-events: none;
}

.hidden-icon {
    display: none;
}

#tie-interceptor {
    position: absolute;
    top: 5%;
    left: 5%;
    display: none;
}
