.container {
    padding-top: 5rem;
}

.hidden-btn {
    display: none;
}

body {
    background: url('swbg.jpg') no-repeat fixed;
}

.vote-btn.btn-success, #pagination-page-counter {
    pointer-events: none;
}

#tie-interceptor {
    position: absolute;
    top: 5%;
    left: 5%;
    display: none;
}