<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/theme.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css') }}">

        <script src="{{ url_for('static', filename='script/jquery-3.3.1.js') }}" defer></script>
        <script src="{{ url_for('static', filename='script/bootstrap.bundle.js') }}" defer></script>
        <script src="{{ url_for('static', filename='script/main.js') }}" defer></script>

        <title>Star Wars API</title>
    </head>

    <body>

        {% include 'navbar.html' %}

        <table id="swapi-table">
            <thead>
            <!-- headers from swpapi -->
            </thead>
            <tbody>
            <!-- content -->
            </tbody>
        </table>

    </body>

</html>