<nav class="navbar navbar-expand navbar-dark bg-primary fixed-top justify-content-between">

    <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Voting Statistics</a>
    </div>

    <a class="navbar-brand" href="#">Star Wars API</a>

    <div class="navbar-nav">
        <span id="user-greeting" class="navbar-text"></span>
        <a id="logout-btn" class="nav-item nav-link" href="#">Logout</a>
        <a id="login-trigger-btn" class="nav-item nav-link" href="#login" data-toggle="modal">Login</a>
        <a id="register-trigger-btn" class="nav-item nav-link" href="#register" data-toggle="modal">Register</a>
    </div>

</nav>