<nav class="navbar navbar-expand navbar-dark bg-primary fixed-top justify-content-between">

    <div class="navbar-nav">
        <a id="vote-stat-btn" class="nav-item nav-link" href="#">Voting Statistics</a>
        <button type="button" id="play-btn" class="btn btn-primary btn-lg rounded-circle py-0 px-2 ml-2">
            <i class="far fa-stop-circle"></i>
            <i class="far fa-play-circle hidden-btn"></i>
        </button>
    </div>

    <a class="navbar-brand" href="#">Star Wars API</a>

    <div class="navbar-nav">
        <span id="user-greeting" class="navbar-text hidden-btn"></span>
        <a id="logout-btn" class="nav-item nav-link hidden-btn" href="#">Logout</a>
        <a id="login-trigger-btn" class="nav-item nav-link hidden-btn" href="#login" data-toggle="modal">Login</a>
        <a id="register-trigger-btn" class="nav-item nav-link hidden-btn" href="#register" data-toggle="modal">Register</a>
    </div>

</nav>