<div class="modal" id="register">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">

    <div class="modal-header">
        <h5 id="answer-form-title" class="modal-title">Register</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body">
        <form action="#" id="register-form">
            <div class="form-group">
                <label for="reg-username">Username:</label>
                <input type="text" name="username" id="reg-username" class="form-control" minlength="5"
                       placeholder="Username...">
            </div>
            <div class="form-group">
                <label for="reg-password">Password:</label>
                <input type="password" name="password" id="reg-password" class="form-control" minlength="5">
            </div>
            <div class="form-group">
                <label for="reg-password-control">Password:</label>
                <input type="password" id="reg-password-control" class="form-control" minlength="5">
            </div>
        </form>
        <button type="button" id="reg-btn" class="btn btn-success btn-block mt-3">Register</button>
    </div>

</div>
</div>
</div>