<div class="modal" id="residents">
<div class="modal-dialog modal-dialog-centered modal-lg">
<div class="modal-content">

    <div class="modal-header">
        <h5 class="modal-title">Residents</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body">
        <table id="residents-table" class="table table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Height</th>
                <th>Mass</th>
                <th>Hair Colour</th>
                <th>Skin Colour</th>
                <th>Eye Colour</th>
                <th>Birth Year</th>
                <th>Gender</th>
            </tr>
            </thead>
            <tbody>
            <!-- content -->
            </tbody>
        </table>
    </div>

</div>
</div>
</div>